﻿@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>ورود به سامانه </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link href="~/Content/kendo/2019.3.917/kendo.bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/login/vendor/animate/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/login/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/login/vendor/animsition/css/animsition.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/login/css/util.css" rel="stylesheet" />
    <link href="~/Content/login/css/main.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <script>
        $(document).on("keydown", function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                login();
            }
        });
        $(document).ready(function () {
            $("#UserName").focus();
        });
        function login() {
            $("#loginFormData").submit();
        }
    </script>
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form id="loginFormData" class="login100-form validate-form p-l-55 p-r-55 p-t-178" action="@Url.Action("Login",new{ System="Basic"})" method="post">
                    <span class="login100-form-title">
                        ورود به سامانه
                    </span>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="لطفا نام کاربری خود را وارد کنید">
                        @Html.TextBoxFor(x => x.UserName, new { @placeholder = "نام کاربری", @class = "input100" })
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="لطفا رمز عبور را وارد کنید">
                        @Html.PasswordFor(x => x.Password, new { @placeholder = "رمز عبور", @class = "input100" })
                        <span class="focus-input100"></span>
                    </div>
                    <div style="height: 30px; text-align: center;direction: rtl">@Html.ValidationSummary()</div>

                    @*<div class="text-right p-t-13 p-b-23">
                            <span class="txt1">
                                Forgot
                            </span>

                            <a href="#" class="txt2">
                                Username / Password?
                            </a>
                        </div>*@

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            ورود
                        </button>
                    </div>

                    @*<div class="flex-col-c p-t-170 p-b-40">
                            <span class="txt1 p-b-9">
                                Don’t have an account?
                            </span>

                            <a href="#" class="txt3">
                                Sign up now
                            </a>
                        </div>*@
                </form>
            </div>
        </div>
    </div>


    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/bootstrap/js/popper.min.js"></script>
    <script src="~/Content/login/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!--===============================================================================================-->
    <script src="~/Content/login/js/main.js"></script>
</body>
</html>