﻿
@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using WebUi.AxKendo;
@model WebUi.Models.AxGroupViewModel

<script>
        $(document).ready(function() {
            if (@Model.Entity.Id != 0) {
                $("#usersDiv").show();
            } else {

                $("#usersDiv").hide();
            }
        });
        function InsertUserToGroup() {
            var userId = $("#UserId").val();
            debugger;
            var url = '@Url.Action("InsertUserToGroup", "UserGroup", new { systemKey = "Basic", groupId = Model.Entity.Id})' + '&userId=' + userId;
            Save(url, null, function () {
                RefreshGrid("UserGroupListGrid");
            });
    }
        function SaveItem() {
            var json = window.$("#AxGroupItemForm").serializeArray();
            var url;

            if (window.$("#Entity_Id").val() == 0) {

                url = '@Url.Action("Insert", "AxGroup", new {SystemKey = "Basic"})';
            } else {
                url = '@Url.Action("Update", "AxGroup", new {SystemKey = "Basic"})';
            }

            Save(url,
                json,
                function(result) {
                    var url = '@Url.Action("Item", "AxGroup", new {SystemKey = "Basic"})';
                    if ($("#Entity_Id").val() == 0) {
                        url = url + '/' + result.Id;
                    }
                    window.location.href = url;
                });
        }

        function Back() {
            var url = '@Url.Action("List")';
            ChangeUrl(url);
        }



</script>

<h2>گروه</h2>

<div class="x_panel">
    <div class="x_content">
        <br>
        <form id="AxGroupItemForm" class="form-group" data-parsley-validate="">

            @Html.HiddenFor(x => x.Entity.Id)
            @Html.HiddenFor(x => x.Entity.RowVersion)
            <div class="form-group col-md-3  col-xs-12">

                <div class="col-md-2">
                    @Html.AxLabelFor(x => x.Entity.GroupName)

                </div>
                <div class="col-md-7">
                    @Html.Kendo().TextBoxFor(x => x.Entity.GroupName).HtmlAttributes(new { @class = "form-control col-md-12 col-xs-12 ax-input" })
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="form-group col-md-9  col-xs-12">

                <div class="col-md-1">
                    @Html.AxLabelFor(x => x.Entity.Description)

                </div>
                <div class="col-md-10">
                    @Html.Kendo().TextBoxFor(x => x.Entity.Description).HtmlAttributes(new { @class = "form-control col-md-12 col-xs-12 width-input" })
                </div>
                <div class="col-md-1"></div>
            </div>
           
            <div class="col-md-12" id="usersDiv" style="position:initial; margin-top: 30px">
                <fieldset>
                    <legend>لیست کاربران عضو گروه</legend>
                    @Html.Action("List", "UserGroup", new { systemKey = "Basic", groupId = Model.Entity.Id })

                </fieldset>
            </div>

            <div class="form-group col-md-12 col-sm-6 col-xs-12 ax-container ">
                <div class="col-md-12 col-sm-6 col-xs-12 ">
                    <button type="button" class="btn btn-primary" onclick="Back()">بازگشت</button>
                    <button type="button" class="btn btn-success" onclick="SaveItem()">ذخیره</button>
                </div>
            </div>
        </form>
    </div>
</div>