﻿@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    function onNew() {

        ChangeUrl('@Url.Action("Item")');
    }

    function onEdit() {
        var selectedItem = GetSelectedGridRow("GroupListGrid");
        if (selectedItem) {
            var url = '@Url.Action("Item")';
            window.location.href = url + "/" + selectedItem.Id;
        }
    }

    function onDelete() {
        var selectedItem = GetSelectedGridRow("GroupListGrid");
        if (selectedItem) {
            var url = '@Url.Action("Delete", "AxGroup")?id=' + selectedItem.Id;
            ConfirmAlert(function() {
                Delete(url, function() {
                    RefreshGrid("GroupListGrid");
                });
            },null);
        }
    }

    $(document).ready(function() {
        $("#GroupListGrid").on("dblclick" , "tbody>tr", function (e) {onEdit()});
    });

</script>
<h2>لیست گروه ها</h2>

@(Html.Kendo().ToolBar()
    .Name("toolbar")
    .Items(items =>
    {
        items.Add().Type(CommandType.Button).Text("ثبت جدید").Click("onNew");
        items.Add().Type(CommandType.Button).Text("ویرایش").Click("onEdit");
        items.Add().Type(CommandType.Button).Text("حذف").Click("onDelete");
    }))

@(Html.AxGrid<AxGroup>("GroupListGrid", "AxGroup", "GetGroupList")
    .Columns(columns =>
    {
        columns.Bound(c => c.Id).Hidden();
        columns.Bound(c => c.GroupName).Width(300);
        columns.Bound(c => c.Description);
        columns.PersianDateTimeColumn(c => c.InsertDateTime).Width(200);
    })
    .Groupable(x => x.Enabled(false))
    .DataSource(dataSource => dataSource
        .Ajax()
    ))