﻿.ax-input {
    text-align: center;
    width: 100% !important;
    height: 100% !important;
}

.width-input {
    text-align: right;
    width: 100% !important;
    height: 100% !important;
}

.width-latin-input {
    text-align: left;
    width: 100% !important;
    height: 100% !important;
}

.control-label {
    margin-top: 5px;
}

.k-link-increase {
    margin-top: 3px !important
}

.k-multiselect-wrap {
    min-height: 34px
}

.k-widget, .k-widget * {
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.ax-container {
    direction: ltr;
    margin-left: 15px;
    margin-top: 20px;
}

.col-md-55, .h1, .h2, .h3, h1, h2, h3 {
    margin-right: 10px !important
}


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding: 0 !important;
}


.error-validation {
    background: url('../images/error.png') no-repeat;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 3px;
    margin-top: 5px;
}

.border-validation {
    border: 1px solid #f0b6c2 !important;
}

.system-item {
    width: 100px;
    height: 100px;
    background: #f2f6f5;
    margin: 10px;
    border-radius: 5px;
    display: inline-block
}

    .system-item:hover {
        background: azure;
    }

.form-group {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    min-height: 30px !important;
}


.k-rtl .text-left-center {
    direction: ltr !important;
    text-align: center !important;
}

.k-rtl .text-right-center {
    direction: rtl !important;
    text-align: center !important;
}

.k-rtl .text-left {
    direction: ltr !important;
    text-align: left !important;
}

.k-rtl .text-right {
    direction: rtl !important;
    text-align: right !important;
}

.jconfirm.jconfirm-bootstrap .jconfirm-box .jconfirm-buttons {
    float: none;
    text-align: center;
}

.width-20 {
    width: 20%
}


.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons, .jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons {
    float: none;
}

.jconfirm-content {
    font-size: medium
}

.txtLink {
    padding-right: 20px
}

    .txtLink:hover {
        cursor: pointer;
    }

.k-dropdowntree {
    width: -webkit-fill-available !important;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.k-treeview span.k-in {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
