﻿@{
    ViewBag.Title = "آدرس";
    Layout = null;
}
@using WebUi.AxKendo;
@model WebUi.Models.AddressViewModel

<script>

    function SaveAddressItem() {
        debugger
        var json = window.$("#AddressItemForm").serializeArray();
        var url;

        var first = $("#AddressItemForm").children("#Entity_Id").first();
        if (first.val() == 0) {

            url = '@Url.Action("Insert", "Address",new {SystemKey="Basic"})';
        }
        else
        {
            url = '@Url.Action("Update", "Address",new {SystemKey="Basic"})';
        }
        Save(url, json, function() {
                closeWindow();
                RefreshGrid("AddressListGrid");
        });
    }

    function Back() {
        closeWindow();
    }
</script>

<h2>آدرس</h2>
<div class="x_panel">
    <div class="x_content">
        <br>
        <form id="AddressItemForm" class="form-group" data-parsley-validate="">

            @Html.HiddenFor(x => x.Entity.Id)
            @Html.HiddenFor(x => x.Entity.PersonId)
            @Html.HiddenFor(x => x.Entity.RowVersion)

            <div class="form-group col-md-8  col-xs-12">

                <div class="col-md-2">
                    @Html.AxLabelFor(x => x.Entity.GeoPosId)

                </div>
                <div class="col-md-9">
                    @Html.Kendo().DropDownTreeFor(x => x.Entity.GeoPosId).DataValueField("id").DataTextField("Title").Filter("startswith").DataSource(dataSource => dataSource.Read(read => read.Action("GetGeoPosTree", "GeoPos")))
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="form-group col-md-4  col-xs-12">

                <div class="col-md-4">
                    @Html.AxLabelFor(x => x.Entity.Telephone)
                </div>
                <div class="col-md-7">
                    @Html.Kendo().TextBoxFor(x => x.Entity.Telephone).HtmlAttributes(new { @class = "form-control col-md-12 col-xs-12 ax-input" })
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="form-group col-md-4  col-xs-12">

                <div class="col-md-4">
                    @Html.AxLabelFor(x => x.Entity.Mobile)

                </div>
                <div class="col-md-7">
                    @Html.Kendo().TextBoxFor(x => x.Entity.Mobile).HtmlAttributes(new { @class = "form-control col-md-12 col-xs-12 ax-input" })
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="form-group col-md-4  col-xs-12">

                <div class="col-md-4">
                    @Html.AxLabelFor(x => x.Entity.Email)

                </div>
                <div class="col-md-7">
                    @Html.Kendo().TextBoxFor(x => x.Entity.Email).HtmlAttributes(new { @class = "form-control col-md-12 col-xs-12 ax-input" })
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="form-group col-md-4  col-xs-12">

                <div class="col-md-4">
                    @Html.AxLabelFor(x => x.Entity.Fax)

                </div>
                <div class="col-md-7">
                    @Html.Kendo().TextBoxFor(x => x.Entity.Fax).HtmlAttributes(new { @class = "form-control col-md-12 col-xs-12 ax-input" })
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="form-group col-md-4  col-xs-12">

                <div class="col-md-4">
                    @Html.AxLabelFor(x => x.Entity.PostalCode)

                </div>
                <div class="col-md-7">
                    @Html.Kendo().TextBoxFor(x => x.Entity.PostalCode).HtmlAttributes(new { @class = "form-control col-md-12 col-xs-12 ax-input" })
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="form-group col-md-4  col-xs-12">

                <div class="col-md-4">
                    @Html.AxLabelFor(x => x.Entity.PostalBox)

                </div>
                <div class="col-md-7">
                    @Html.Kendo().TextBoxFor(x => x.Entity.PostalBox).HtmlAttributes(new { @class = "form-control col-md-12 col-xs-12 ax-input" })
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="form-group col-md-4  col-xs-12">

                <div class="col-md-2">

                    @(Html.Kendo().CheckBoxFor(x => x.Entity.IsMainAddress)
                        .HtmlAttributes(new { @class = " txt-width form-control col-md-4 col-xs-12 ax-input" }))
                </div>
            </div>
            <div class="form-group col-md-12  col-xs-12">

                <div class="col-md-1">
                    @Html.AxLabelFor(x => x.Entity.AddressContent)

                </div>
                <div class="col-md-10">
                    @Html.Kendo().TextBoxFor(x => x.Entity.AddressContent).HtmlAttributes(new { @class = "form-control col-md-12 col-xs-12 width-input" })
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="form-group col-md-12  col-xs-12">

                <div class="col-md-1">
                    @Html.AxLabelFor(x => x.Entity.LatinAddress)

                </div>
                <div class="col-md-10">
                    @Html.Kendo().TextBoxFor(x => x.Entity.LatinAddress).HtmlAttributes(new { @class = "form-control col-md-12 col-xs-12 width-latin-input" })
                </div>
                <div class="col-md-1"></div>
            </div>

            <div class="form-group col-md-12 col-sm-6 col-xs-12 ax-container ">
                <div class="col-md-12 col-sm-6 col-xs-12 ">
                    <button type="button" class="btn btn-primary" onclick="Back()">بازگشت</button>
                    <button type="button" class="btn btn-success" onclick="SaveAddressItem()">ذخیره</button>
                </div>
            </div>
        </form>
    </div>
</div>