﻿
@{
    Layout = null;
}

<script>

    function onNew() {
        var url = '@Url.Action("Item","Address",new{personId=ViewBag.PersonId})';
        openWindow("فرم آدرس", url);
    }

    function onEdit() {
        var selectedItem = GetSelectedGridRow("AddressListGrid");
        if (selectedItem) {
            var url = '@Url.Action("Item","Address",new{personId=ViewBag.PersonId})'+"&id="+selectedItem.Entity.Id;
            openWindow("فرم آدرس", url);
        }
    }

    function onDelete() {
        var selectedItem = GetSelectedGridRow("AddressListGrid");
        if (selectedItem) {
            var url = '@Url.Action("Delete", "Address")?id=' + selectedItem.Entity.Id;
            ConfirmAlert(function() {
                Delete(url, function() {
                    RefreshGrid("AddressListGrid");
                });
            },null);
        }
    }

    $(document).ready(function() {
        $("#AddressListGrid").on("dblclick", "tbody>tr", function(e) { onEdit() });
    });

</script>
<h2>لیست آدرس ها</h2>

@(Html.Kendo().ToolBar()
    .Name("toolbar")
    .Items(items =>
    {
        items.Add().Type(CommandType.Button).Text("ثبت جدید").Click("onNew");
        items.Add().Type(CommandType.Button).Text("ویرایش").Click("onEdit");
        items.Add().Type(CommandType.Button).Text("حذف").Click("onDelete");
    }))

@(Html.AxGrid<AddressViewModel>("AddressListGrid", "Address", "GetList", new { personId = ViewBag.PersonId })
    .Columns(columns =>
    {
        columns.Bound(c => c.Entity.Id).Hidden();
        columns.StringColumn(c => c.GeoPosTitle);
        columns.StringColumn(c => c.Entity.AddressContent);
        columns.StringColumn(c => c.Entity.Mobile);
        columns.StringColumn(c => c.Entity.Telephone);

    })
    .Groupable(x => x.Enabled(false))
    .DataSource(dataSource => dataSource
        .Ajax()
    ))
