﻿@model AuthorizationViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>کاربر یا گروه کاربری مورد نظر را انتخاب کنید</h4>

<script>
  

    $(document).ready(function() {
        var url = '@Url.Action("GetMenuTree")'; //+?userId= data.Id;
        $("#treeHolder").html("");
        $("#treeHolder").axTree({ url: url, checkbox: true, contextMenu: true, massload: true, EntireLoad: true });
    })
</script>

<div class="col-md-4" style="margin-top: 10px">

    @(Html.Kendo().MultiColumnComboBoxFor(x=> x.UgId)
        .DataTextField("UserName")
        .DataValueField("Id").AutoBind(false)
        .Filter("contains").Placeholder("کاربر را انتخاب کنید")
        .Columns(columns =>
        {
            columns.Add().Field("UserName").Title("نام کاربری").Width("100px"); ;
            columns.Add().Field("FullName").Title("نام کامل").Width("200px"); ;
            columns.Add().Field("NationalCode").Title("کد ملی").Width("100px"); ;
            columns.Add().Field("PersonalId").Title("کد پرسنلی").Width("100px"); ;
        })
        .FooterTemplate("تعداد :  #: instance.dataSource.total() # ")

        .Height(400).MinLength(2)
        .DataSource(source => source
            .Read(read =>
                {
                    read.Action("GetUserGroups", "Authorization");
                }).ServerFiltering(true)
        )
    )
</div>

<div class="col-md-12" style="margin: 20px 0 0 20px">

    <div id="treeHolder">
    </div>


</div>