﻿@using Model.Enum
@using WebUi.AxKendo;
@model WebUi.Models.BaseViewModel<User>
@{
    ViewBag.Title = "پبت جدید کاربر";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    $(document).ready(function() {
        if (@Model.Entity.Id == 0) {
            $("#PersonField").show();
            $("#PasswordField").show();
        }
        else {

            $("#PersonField").hide();
            $("#PasswordField").hide();
        }

    });
    function SaveItem() {
        var json = window.$("#UserItemForm").serializeArray();
        var url;

        if (window.$("#Entity_Id").val() == 0) {

            url = '@Url.Action("Insert", "User",new {SystemKey="Basic"})';
        }
        else
        {
            url = '@Url.Action("Update", "User",new {SystemKey="Basic"})';
        }

        var userListUrl = '@Url.Action("List")';
        Save(url, json, function() {
                ChangeUrl(userListUrl);
        });
    }
    function Back() {
        var url = '@Url.Action("List")';
        ChangeUrl(url);
    }

</script>

<h2>فرم کاربر</h2>

<div class="x_panel">
    <div class="x_content">
        <br>
        <form id="UserItemForm" class="form-group" data-parsley-validate="">

            @Html.HiddenFor(x => x.Entity.Id)
            @Html.HiddenFor(x => x.Entity.RowVersion)
            <div id="PersonField" class="form-group col-md-5  col-xs-12">
                <div class="col-md-2">
                    @Html.AxLabelFor(x => x.Entity.PersonId)

                </div>
                <div class="col-md-9">
                    @(Html.Kendo().MultiColumnComboBoxFor(x => x.Entity.PersonId)
                        .DataTextField("FullName")
                        .DataValueField("Id")
                        .Placeholder("شخص را انتخاب کنید")
                        .Filter("contains")
                        .AutoBind(true)
                        .Columns(columns =>
                        {
                            columns.Add().Field("FullName").Title("نام شخص");
                            columns.Add().Field("NationalCode").Title("کد ملی");
                            columns.Add().Field("PersonalId").Title("شماره پرسنلی");
                        })
                        .FooterTemplate("Total #: instance.dataSource.total() # items found")
                        .Height(400).MinLength(2)
                        .HtmlAttributes(new { style = "width:100%;" })
                        .DataSource(source => source
                            .Read(read => { read.Action("GetPersonListForUser", "User"); })
                            .ServerFiltering(true)
                        )
                    )
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="form-group col-md-3  col-xs-12">

                <div class="col-md-4">
                    @Html.AxLabelFor(x => x.Entity.UserName)

                </div>
                <div class="col-md-7">
                    @Html.Kendo().TextBoxFor(x => x.Entity.UserName).HtmlAttributes(new { @class = "form-control col-md-12 col-xs-12 ax-input" })
                </div>
                <div class="col-md-1"></div>
            </div>
            <div id="PasswordField" class="form-group col-md-3  col-xs-12">

                <div class="col-md-4">
                    @Html.AxLabelFor(x => x.Entity.Password)

                </div>
                <div class="col-md-7">
                    @Html.Kendo().TextBoxFor(x => x.Entity.Password).HtmlAttributes(new { @class = "form-control col-md-12 col-xs-12 ax-input" })
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="form-group col-md-1  col-xs-12">
                @* todo :  does not show in mobile mode *@
                <div class="col-md-2" style="margin-top: 8px;">
                    @(Html.Kendo().CheckBoxFor(x => x.Entity.IsActive)
                        .HtmlAttributes(new { @class = " txt-width form-control col-md-3 col-xs-12 ax-input" }))
                </div>
            </div>

            <div class="form-group col-md-12 col-sm-6 col-xs-12 ax-container ">
                <div class="col-md-12 col-sm-6 col-xs-12 ">
                    <button type="button" class="btn btn-primary" onclick="Back()">بازگشت</button>
                    <button type="button" class="btn btn-success" onclick="SaveItem()">ذخیره</button>
                </div>
            </div>
        </form>
    </div>
</div>

