﻿@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    function onNew() {

        ChangeUrl('@Url.Action("Item")');
    }

    function onEdit() {
        var selectedItem = GetSelectedGridRow("UserListGrid");
        if (selectedItem) {
            var url = '@Url.Action("Item")';
            window.location.href = url + "?id=" + selectedItem.Id;
        }
    }

    function onDelete() {
        var selectedItem = GetSelectedGridRow("UserListGrid");
        if (selectedItem) {
            var url = '@Url.Action("Delete", "User")?id=' + selectedItem.Id;
            ConfirmAlert(function() {
                Delete(url, function() {
                    RefreshGrid("UserListGrid");
                });
            },null);
        }
    }

    $(document).ready(function() {
        $("#UserListGrid").on("dblclick" , "tbody>tr", function(e) { onEdit() });
    });

</script>

<h2>لیست کاربران </h2>

@(Html.Kendo().ToolBar()
    .Name("toolbar")
    .Items(items =>
    {
        items.Add().Type(CommandType.Button).Text("ثبت جدید").Click("onNew");
        items.Add().Type(CommandType.Button).Text("ویرایش").Click("onEdit");
        items.Add().Type(CommandType.Button).Text("حذف").Click("onDelete");
    }))

@(Html.AxGrid<User>("UserListGrid", "User", "GetUserList")
    .Columns(columns =>
    {
        columns.Bound(c => c.Id).Hidden();
        columns.StringColumn(c => c.UserName);
        columns.PersianDateTimeColumn(c => c.InsertDateTime);
        columns.BooleanColumn(c => c.IsActive, "فعال", "غیرفعال");
        columns.BooleanColumn(c => c.IsDeleted, "بلی", "خیر");
    })
    .Groupable(x => x.Enabled(false))
    .DataSource(dataSource => dataSource
        .Ajax()
    ))
