﻿@using Framework.Tools
@using Model.Enum
@using WebUi.AxKendo;
@model WebUi.Models.PersonViewModel
@{
    ViewBag.Title = "ثبت جدید شخص";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    $(document).ready(function() {
        if (@Model.Entity.Id != 0) {
            $("#addressDiv").show();
        }
        else {

            $("#addressDiv").hide();
        }
        if (@Model.PersonPictureId != 0) {
            $("#DeletePic").show();
        }
        else {
            $("#DeletePic").hide();
        }
    });

    function SavePersonItem() {
        var json = window.$("#PersonItemForm").serializeArray();
        var url;

        if ($("#Entity_Id").val() == 0) {

            url = '@Url.Action("Insert", "Person",new {SystemKey="Basic"})';
        }
        else
        {
            url = '@Url.Action("Update", "Person",new {SystemKey="Basic"})';
        }

        Save(url,
            json,
            function (result) {
                var url = '@Url.Action("Item", "Person", new {SystemKey = "Basic"})' ;
                if ($("#Entity_Id").val() == 0) {
                    url = url + '/' + result.Id;
                }
            window.location.href = url;
        });
    }

    function Back() {
        var url = '@Url.Action("List")';
        ChangeUrl(url);
    }

    function afterUpload(e) {
        $("#ImageId").val(e.response.Temp);
        var d = new Date();
        $("#person-img").attr('src', '/Basic/Image/Show?id=0&guid=' + e.response.Temp + '&rand=' + d.getTime());
        $("#DeletePic").css('display', 'block');

    }

    function onError(e) {
        var err = $.parseJSON(e.XMLHttpRequest.responseText);
        alert(err.Message);
        $.map(e.files,
            function(file) {
                alert("Could not upload " + file.name);
            });
    }

    function OnPicDelete() {
        $.ajax({
            url:  '@Url.Action("DeletePic","Image")'+ "?id=" + @Model.Id ,
            type: "Get",
            success: function (result) {
                $("#ImageId").val(null);
                $("#person-img").attr('src', '');
                $("#DeletePic").css('display', 'none');
            }
        });
    }

</script>

<h2>فرم شخص</h2>

<div class="x_panel">
    <div class="x_content">
        <br>
        <form id="PersonItemForm" class="form-group" data-parsley-validate="">

            @Html.HiddenFor(x => x.Entity.Id)
            @Html.HiddenFor(x => x.Entity.RowVersion)
            @Html.HiddenFor(x => x.ImageId)
            <div class="row" style="padding: 15px;">
                <div class="col-md-10 ">
                    <div class="form-group col-md-4  col-xs-12">
                        <div class="col-md-4">
                            @Html.AxLabelFor(x => x.Entity.FirstName)
                        </div>
                        <div class="col-md-7">
                            @Html.Kendo().TextBoxFor(x => x.Entity.FirstName).HtmlAttributes(new { @class = "form-control col-md-12 col-xs-12 ax-input" })
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="form-group col-md-4  col-xs-12">

                        <div class="col-md-4">
                            @Html.AxLabelFor(x => x.Entity.LastName)

                        </div>
                        <div class="col-md-7">
                            @Html.Kendo().TextBoxFor(x => x.Entity.LastName).HtmlAttributes(new { @class = "form-control col-md-12 col-xs-12 ax-input" })
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="form-group col-md-4  col-xs-12">

                        <div class="col-md-4">
                            @Html.AxLabelFor(x => x.Entity.FatherName)

                        </div>
                        <div class="col-md-7">
                            @Html.Kendo().TextBoxFor(x => x.Entity.FatherName).HtmlAttributes(new { @class = "form-control col-md-12 col-xs-12 ax-input" })
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="form-group col-md-4  col-xs-12">
                        <div class="col-md-4">
                            @Html.AxLabelFor(x => x.Entity.Sex)
                        </div>
                        <div class="col-md-7">

                            @(Html.Kendo().DropDownListFor(x => x.Entity.Sex)
                                .HtmlAttributes(new { @class = " txt-width form-control col-md-4 col-xs-12 ax-input" })
                                .Value(@Model.Entity.Sex.ToString())
                                .BindTo(from SexEnum r in Enum.GetValues(typeof(SexEnum)) select new { Id = (int)r, Name = r.GetDisplayName() })
                                .DataTextField("Name").DataValueField("Id")
                                .OptionLabel("انتخاب کنید"))
                        </div>
                    </div>
                    <div class="form-group col-md-4  col-xs-12">

                        <div class="col-md-4">
                            @Html.AxLabelFor(x => x.Entity.LatinName)

                        </div>
                        <div class="col-md-7">
                            @Html.Kendo().TextBoxFor(x => x.Entity.LatinName).HtmlAttributes(new { @class = "form-control col-md-12 col-xs-12 ax-input" })
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="form-group col-md-4  col-xs-12">

                        <div class="col-md-4">
                            @Html.AxLabelFor(x => x.Entity.LatinLastName)

                        </div>
                        <div class="col-md-7">
                            @Html.Kendo().TextBoxFor(x => x.Entity.LatinLastName).HtmlAttributes(new { @class = "form-control col-md-12 col-xs-12 ax-input" })
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="form-group col-md-4  col-xs-12">
                        <div class="col-md-4">
                            @Html.AxLabelFor(x => x.Entity.Birthday)
                        </div>
                        <div class="col-md-7">
                            <div class="controls">
                                @(Html.Kendo().MaskedTextBoxFor(x => x.Birthday)
                                    .Mask("0000/00/00")
                                    .HtmlAttributes(new { @class = "form-control col-md-12 col-xs-12 ax-input", style = "text-align:center;direction:ltr" }))
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="form-group col-md-4 col-sm-3 col-xs-12">
                        <div class="col-md-4">
                            @Html.AxLabelFor(x => x.Entity.NationalCode)

                        </div>
                        <div class="col-md-7">
                            @Html.Kendo().TextBoxFor(x => x.Entity.NationalCode).HtmlAttributes(new { @class = "form-control ax-input" })
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="form-group col-md-4 col-sm-3 col-xs-12">
                        <div class="col-md-4">
                            @Html.AxLabelFor(x => x.Entity.IdentityNumber)
                        </div>
                        <div class="col-md-7">
                            @Html.Kendo().TextBoxFor(x => x.Entity.IdentityNumber).HtmlAttributes(new { @class = "form-control ax-input" })
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="form-group col-md-4  col-xs-12">
                        <div class="col-md-4" style="margin-right: 3px;">
                            @Html.AxLabelFor(x => x.Entity.IdentitySerial)
                        </div>
                        <div class="col-md-7">
                            @Html.Kendo().TextBoxFor(x => x.Entity.IdentitySerial).HtmlAttributes(new { @class = "form-control col-md-12 col-xs-12 ax-input" })
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div style="padding-right:40px;padding-bottom:10px; margin: 0;" class="input-group">
                            @{
                                var rand = new Random();
                                var imgUrl = Url.Action("Show", "Image") + "?id=" + @Model.PersonPictureId + "&rand=" + rand.Next(5000);
                            }
                            <img id="person-img" style="width: initial; max-width: 100px; max-height: 100px;min-width: 90px; min-height: 90px;" alt="بدون تصویر" onerror="this.src='/Content/Images/no-image.jpg';" src='@imgUrl' />
                            <br />
                            <a class="txtLink" id="DeletePic" onclick="OnPicDelete() ">حذف تصویر</a>
                        </div>
                        <div style="float: right;padding-right: 20px" class="input-group ">
                            @(Html.Kendo().Upload()
                                .Name("Image").ShowFileList(false)
                                .Events(evt => evt.Error("onError").Success("afterUpload"))
                                .Async(a => a
                                    .Save("AddPictureInCache", "Image", new { Model.Image })
                                    .AutoUpload(true)).Messages(x => x.Cancel("لغو").Retry("دوباره").Select("انتخاب").StatusUploading("در حال بارگذاری").HeaderStatusUploaded("موفق").StatusFailed("خطا داد").HeaderStatusUploading("در حال بارگذاری"))
                                .Multiple(false)
                            )
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" id="addressDiv" style="position:initial;">
                <fieldset>
                    <legend>آدرس ها</legend>
                    @Html.Action("List", "Address", new { systemKey = "Basic", personId = Model.Entity.Id })

                </fieldset>
            </div>
            <div class="form-group col-md-12 col-sm-6 col-xs-12 ax-container ">
                <div class="col-md-12 col-sm-6 col-xs-12 ">
                    <button type="button" class="btn btn-primary" onclick="Back()">بازگشت</button>
                    <button type="button" class="btn btn-success" onclick="SavePersonItem()">ذخیره</button>
                </div>
            </div>
        </form>
    </div>
</div>