﻿@using Model.Entities
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    function onNew() {

        ChangeUrl('@Url.Action("Item")');


    }

    function onEdit() {
        var selectedItem = GetSelectedGridRow("PersonListGrid");
        if (selectedItem) {
            var url = '@Url.Action("Item")';
            window.location.href = url + "/" + selectedItem.Id;
        }
    }

    function onDelete() {
        var selectedItem = GetSelectedGridRow("PersonListGrid");
        if (selectedItem) {
            var url = '@Url.Action("Delete", "Person")?id=' + selectedItem.Id;
            ConfirmAlert(function() {
                Delete(url, function() {
                    RefreshGrid("PersonListGrid");
                });
            },null);
        }
    }

    $(document).ready(function() {
        $("#PersonListGrid").on("dblclick", "tbody>tr", function(e) { onEdit() });
    });

</script>
<h2>لیست اشخاص</h2>

@(Html.Kendo().ToolBar()
    .Name("toolbar")
    .Items(items =>
    {
        items.Add().Type(CommandType.Button).Text("ثبت جدید").Click("onNew");
        items.Add().Type(CommandType.Button).Text("ویرایش").Click("onEdit");
        items.Add().Type(CommandType.Button).Text("حذف").Click("onDelete");
    }))

@(Html.AxGrid<Person>("PersonListGrid", "Person", "GetPersonList")
    .Columns(columns =>
    {
        columns.Bound(c => c.Id).Hidden();
        columns.StringColumn(c => c.FullName);
        columns.StringColumn(c => c.FatherName);
        columns.NumericColumn(c => c.IdentityNumber);
        columns.NumericColumn(c => c.NationalCode).Title("کد ملی");
        columns.BooleanColumn(c => c.Sex, "مرد", "زن");
        columns.PersianDateTimeColumn(c => c.InsertDateTime).Width(200);
    })
    .Groupable(x => x.Enabled(false))
    .DataSource(dataSource => dataSource
        .Ajax()
    ))
