﻿
@{
    Layout = null;
}
@model WebUi.Models.AxGroupViewModel
<script type="text/javascript">

    function onDelete() {
        var selectedItem = GetSelectedGridRow("UserGroupListGrid");
        if (selectedItem) {
            var url = '@Url.Action("Delete", "UserGroup")?id=' + selectedItem.Id;
            ConfirmAlert(function() {
                Delete(url, function() {
                    RefreshGrid("UserListGrid");
                });
            },null);
        }
    }
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>

<div class="x_panel">
    <div class="x_content">
        <br>
        <form id="AxGroupItemForm" class="form-group" data-parsley-validate="">
            <div id="UserField" class="form-group col-md-6  col-xs-12">
                <div class="col-md-1">
                    @Html.AxLabelFor(x => x.UserId)

                </div>
                <div class="col-md-10">
                    @(Html.Kendo().MultiColumnComboBoxFor(x => x.UserId)
                        .DataTextField("UserName")
                        .DataValueField("Id")
                        .Placeholder("کاربر را انتخاب کنید")
                        .Filter("contains")
                        .AutoBind(true)
                        .Columns(columns =>
                        {
                            columns.Add().Field("UserName").Title("نام کاربری");
                            columns.Add().Field("FullName").Title("نام و نام خانوادگی");
                            columns.Add().Field("PersonalId").Title("شماره پرسنلی");
                            columns.Add().Field("NationalCode").Title("کد ملی");
                        })
                        .FooterTemplate("Total #: instance.dataSource.total() # items found")
                        .Height(400).MinLength(2)
                        .HtmlAttributes(new { style = "width:100%;" })
                        .DataSource(source => source
                            .Read(read => { read.Action("GetUsersWithPersonalData", "User"); })
                            .ServerFiltering(true)
                        )
                    )
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="form-group col-md-6 col-xs-12">
                <button type="button" class="btn btn-toolbar" onclick="InsertUserToGroup()">اضافه کردن کاربر به گروه</button>
            </div>
        </form>
    </div>
</div>

@(Html.AxGrid<UserGroupViewModel>("UserGroupListGrid", "UserGroup", "GetList", new {ViewBag.groupId })
    .Columns(columns =>
    {
        columns.Bound(c => c.Id).Hidden();
        columns.StringColumn(c => c.UserName).Editable("false");
        columns.StringColumn(c => c.FullName).Editable("false");
        columns.StringColumn(c => c.PersonalId).Editable("false");
        columns.Command(command => { command.Destroy().Text("حذف"); }).Width(100).Title("عملیات");
    })
    .Editable(editable => editable.Mode(GridEditMode.InLine).DisplayDeleteConfirmation("آیا مطمئن هستید ؟"))
    .DataSource(dataSource => dataSource
            .Ajax()
            .Model(model => model.Id(p => p.Entity.Id))
            .Destroy(delete => delete.Action("DeleteUserGroup", "UserGroup"))
    ))


