﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سامانه جامع بالین تک</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-rtl.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/nprogress.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" />
    <link href="~/Content/css/green.css" rel="stylesheet" />
    <link href="~/Content/css/custom.min.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-confirm.min.css" rel="stylesheet" />
    <link href="~/Content/css/toastr.css" rel="stylesheet" />
    <link href="https://localhost:44373/Content/JsTree/style.min.css" rel="stylesheet" />
    @*<style type="text/css">
            .jqstooltip {
                position: absolute;
                left: 0px;
                top: 0px;
                visibility: hidden;
                background: rgb(0, 0, 0) transparent;
                background-color: rgba(0,0,0,0.6);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
                color: white;
                font: 10px arial, san serif;
                text-align: left;
                white-space: nowrap;
                padding: 5px;
                border: 1px solid white;
                box-sizing: content-box;
                z-index: 10000;
            }

            .jqsfield {
                color: white;
                font: 10px arial, san serif;
                text-align: left;
            }
        </style>*@
    <script src="@Url.Content("~/Scripts/toastr.js")"></script>
    <link href="@Url.Content("~/Content/kendo/2019.3.917/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2019.3.917/kendo.blueopal.min.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Content/css/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2019.3.917/kendo.rtl.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2019.3.917/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2019.3.917/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2019.3.917/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2019.3.917/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-confirm.min.js")"></script>
    <script src="@Url.Content("~/Scripts/persian-date.min.js")"></script>

    <script src="@Url.Content("~/Scripts/AxTree.js")"></script>
    <script src="@Url.Content("~/Scripts/jstree.js")"></script>
    <script src="@Url.Content("~/Scripts/jstree.search.js")"></script>
    <script>
        $(document).ready(function () {
            var tooltip = null;
            $(document).on("mouseenter",
                ".error-validation",
                function (e) {
                    if (tooltip == null) {
                        tooltip = $(e.target).kendoTooltip({
                            width: 120,
                            position: "left",
                            animation: {
                                open: {
                                    effects: "zoom",
                                    duration: 150
                                }
                            }
                        }).data("kendoTooltip");
                    }
                    tooltip.show($(e.target));
                });

            $(".site_title").click(function () {
                $("#systems-menu").fadeIn();
            });
            $(".system-item").click(function (e) {
                var id = $(e.currentTarget).attr("data-key");
                debugger
                window.location.href = "/" + id;
            });

            $(document).click(function (e) {
                var container = $("#systems-menu");
                var btn = $(".site_title");
                if (!container.is(e.target) &&
                    container.has(e.target).length === 0 &&
                    !btn.is(e.target) &&
                    btn.has(e.target).length === 0)
                    container.hide();
            });

            $("#AxWnd").kendoWindow({
                width: "60%",
                visible: false,
                modal: true,
                actions: ["Maximize", "close"],
                iframe: false,
                draggable: true,
                height: "80%",
                position: {
                    top: "10%",
                },
                close: function (e) {
                    $(this.element).empty();
                },
                activate: onActivateWnd
            });

        });



        function onActivateWnd(e) {
            SetActiveInput();
        }
    </script>
</head>
<body class="k-rtl nav-md">
    <div class="container body" style="overflow: hidden">
        <div class="main_container">
            <div class="col-md-3 left_col hidden-print">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a style="text-align: center;cursor: pointer" class="site_title">
                            <i class="fa fa-cubes"></i> <span>بالین تک</span>
                            <div id="systems-menu" style="border: 2px solid #808080;line-height: 5px; float: right; display: none; margin-top: 10px; width: 400px; background: #e8e8e8; position: absolute; z-index: 1000; border-radius: 10px">
                                @Html.Action("SystemsMenu", "Dashboard")
                            </div>
                        </a>
                    </div>

                    <div class="clearfix"></div>
                    <div id="AxWnd"></div>

                    @*     @{Html.RenderPartial("_ProfileQuickInfo"); }*@


                    <br>
                    <!-- sidebar menu -->
                    @Html.Action("Navigation", "Dashboard", new { systemId = Request.QueryString["Sid"] })


                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="" data-original-title="تنظیمات">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="" onclick="toggleFullScreen();" data-original-title="تمام صفحه">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="" class="lock_btn" data-original-title="قفل">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="" href="login.html" data-original-title="خروج">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav hidden-print">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/Content/images/img.jpg" alt="">مرتضی کریمی
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"> نمایه</a></li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>تنظیمات</span>
                                        </a>
                                    </li>
                                    <li><a href="javascript:;">کمک</a></li>
                                    <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> خروج</a></li>
                                </ul>
                            </li>

                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/Content/images/img.jpg" alt="Profile Image"></span>
                                            <span>
                                                <span>مرتضی کریمی</span>
                                                <span class="time">3 دقیقه پیش</span>
                                            </span>
                                            <span class="message">
                                                فیلمای فستیوال فیلمایی که اجرا شده یا راجع به لحظات مرده ایه که فیلمسازا میسازن. آنها جایی بودند که....
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/Content/images/img.jpg" alt="Profile Image"></span>
                                            <span>
                                                <span>مرتضی کریمی</span>
                                                <span class="time">3 دقیقه پیش</span>
                                            </span>
                                            <span class="message">
                                                فیلمای فستیوال فیلمایی که اجرا شده یا راجع به لحظات مرده ایه که فیلمسازا میسازن. آنها جایی بودند که....
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/Content/images/img.jpg" alt="Profile Image"></span>
                                            <span>
                                                <span>مرتضی کریمی</span>
                                                <span class="time">3 دقیقه پیش</span>
                                            </span>
                                            <span class="message">
                                                فیلمای فستیوال فیلمایی که اجرا شده یا راجع به لحظات مرده ایه که فیلمسازا میسازن. آنها جایی بودند که....
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/Content/images/img.jpg" alt="Profile Image"></span>
                                            <span>
                                                <span>مرتضی کریمی</span>
                                                <span class="time">3 دقیقه پیش</span>
                                            </span>
                                            <span class="message">
                                                فیلمای فستیوال فیلمایی که اجرا شده یا راجع به لحظات مرده ایه که فیلمسازا میسازن. آنها جایی بودند که....
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a>
                                                <strong>مشاهده تمام اعلان ها</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- /header content -->
            <!-- page content -->
            <div class="right_col" role="main" style="min-height: 850px;">
                <div class="row">
                    @RenderBody()
                </div>
                <br>
            </div>

            <!-- /page content -->
            <!-- footer content -->
            @*<footer class="hidden-print">
                <div class="pull-left">
                  همه حقوق مادی و معنوی نرم افزار برای شرکت سامانه های هوشمند ایرسا محفوظ است
                </div>
                <div class="clearfix"></div>
            </footer>*@
            <!-- /footer content -->
        </div>
    </div>
    <div id="lock_screen">
        <table>
            <tbody>
                <tr>
                    <td>
                        <div class="clock">12:41:02</div>
                        <span class="unlock">
                            <span class="fa-stack fa-5x">
                                <i class="fa fa-square-o fa-stack-2x fa-inverse"></i>
                                <i id="icon_lock" class="fa fa-lock fa-stack-1x fa-inverse"></i>
                            </span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/fastclick.js"></script>
    <script src="~/Scripts/nprogress.js"></script>
    <script src="~/Scripts/bootstrap-progressbar.min.js"></script>
    <script src="~/Scripts/icheck.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/jquery.sparkline.min.js"></script>
    <script src="~/Scripts/gauge.min.js"></script>
    <script src="~/Scripts/skycons.js"></script>
    <script src="~/Scripts/jquery.flot.js"></script>
    <script src="~/Scripts/jquery.flot.pie.js"></script>
    <script src="~/Scripts/jquery.flot.time.js"></script>
    <script src="~/Scripts/jquery.flot.stack.js"></script>
    <script src="~/Scripts/jquery.flot.resize.js"></script>
    <script src="~/Scripts/jquery.flot.orderBars.js"></script>
    <script src="~/Scripts/jquery.sparkline.min.js"></script>
    <script src="~/Scripts/curvedLines.js"></script>
    <script src="~/Scripts/date.min.js"></script>
    <script src="~/Scripts/jquery.vmap.js"></script>
    <script src="~/Scripts/jquery.vmap.world.js"></script>
    <script src="~/Scripts/jquery.vmap.sampledata.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/AxScript.js"></script>


</body>
</html>