﻿@model IQueryable<Model.Entities.Menu>


<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section active">
        <ul class="nav side-menu" style="">
            @{
                IQueryable<Model.Entities.Menu> menus = Model;
                if (menus != null)
                {
                    foreach (var item in menus)
                    {
                        if (item.Children.Count > 0 && item.Children.Any(x => x.ShowInMenu))
                        {
                            <li>
                                <a><i class="fa fa-home"></i> @item.Title <span class="fa fa-chevron-down"></span></a>

                                <ul class="nav child_menu">
                                    @foreach (var child in item.Children)
                                    {
                                        if (child.ShowInMenu)
                                        {
                                            <li><a href="@child.Url">@child.Title</a></li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                    }
                }
            }
        </ul>
    </div>
</div>