﻿@using Model.Entities


<div class="profile clearfix">

    @{ string username = ViewBag.User;
        <div class="profile_pic">
            <img src="~/Content/images/img.jpg" class="img-circle profile_img" alt=@username />
        </div>
        <div class="profile_info">
            <h2>@username</h2>
            <span>خوش آمدید,</span>
        </div>
    }
</div>
