﻿@model IQueryable<Model.Entities.Menu>
@{
    IQueryable<Model.Entities.Menu> systems = Model;
    if (systems != null)
    {
        foreach (var item in systems)
        {
            <div class="system-item" data-key="@item.AxOp.ToString()">
                <div style="color: black; font-size: 12px; height: 75%">
                    <img height="48" width="48" src="~/Content/images/cubes.png" style="margin-top: 10px" />
                </div>
                <div title="@item.Title" style="color: black; font-size: 12px; height: 25%; border-top: 1px solid #34495e; padding: 10px; white-space: nowrap; overflow: hidden;text-overflow: ellipsis">@item.Title</div>
            </div>
        }
    }
}